<%= form_with(model: costomer, local: true) do |form| %>
  <% if costomer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(costomer.errors.count, "error") %> prohibited this costomer from being saved:</h2>

      <ul>
      <% costomer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :discription %>
    <%= form.text_area :discription %>
  </div>

  <div class="field">
    <%= form.label :blacklist %>
    <%= form.check_box :blacklist %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
